/* Limpando o CSS */

* {
    margin: 0;
    padding: 0;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

/* Header ou Cabeçalho */

.header {
    background:#1E3A8A;
    padding-inline: 16px;
}

/* Barra de navegação */

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;  

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Itens da barra de Nav */
.logo img{
    height: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color:white;
    padding-block: 16px;

}




.main {
    height: 100%;
    
}


/* Botao de menu */
.menu {
   display: none; 
   border: none;
   background: none;
   border-top: 3px solid white;
   cursor: pointer; 
}

.menu::before,
.menu::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
}

/* Grade do plano de fundo */
body { 
    background-size: 15px 15px;
    background-image: linear-gradient(to right, lightgrey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
    
}

/* Apresentação do site */
.apresentacao {
    width: 98%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.apresentacao img {
    padding-top: 100px;
    max-height: 350px;
}

.bem_vindo {
    padding-top: 80px;
    max-height: 300px;
    width: 40%;
    padding-bottom: 60px;    
}

.bem_vindo h1 {
    color: #3E3E3E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    
}

.bem_vindo h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: #626B7F;
    font-size: 20px;
}
.vantagens {
    padding-top: 30px;
    width: 100%;
    height: 100px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    
} 

.vantagens ul {
    color: #1E3A8A;
    display: flex;
    flex-wrap: wrap;
    padding-left: 44px;
        

}
 .vantagens li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    color:#3E3E3E;
    width: 200px;
    height: 40px;
    list-style-image: url(imagens/correct.svg);
    
 }



 /* Convie Barulho */
 .convite{
    color: #3E3E3E;
    font-size: calc(50% + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 12vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
 }

.convite h1 {
    width: 80%;
} 

.convite span {
    color: #6099F4;
}

/* Nosso projeto */
.nosso_projeto{
    padding-top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
    
    
    
}

.imaxem_ex {
    width: 45%;
    
}
.imaxem_ex img{
    display: block;
    max-width: 100%;
    
}

.nosso_content {
    width: 45%;
    padding-top: 50px;
}

.nosso_content h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3E3E3E;
    padding-bottom: 20px;
}

.nosso_content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    color: #626B7F;
}

/* Sobre */
.sobre {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}



/* Cards */
.cards img {
    width: 40%;
}

.cards h5 {
    padding-top: 20px;
    font-size: 20px;
}
.cards p{
    padding-top: 20px;
    color: #626B7F;
    width: 70%;
    margin: 0 auto;
}
.cards {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 4px 12px #aaa;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Rodapé */
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1E3A8A;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100PX;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
} 

footer a {
    color: white;
    padding-top: 6px;
}

/* Guia */
.guia_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.guia_content {
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,42,121,1) 9%, rgba(0,149,255,1) 100%);
    height: 380px;
    width: 90%;
    max-width: 1200px;
    border-radius: 14px;
    box-shadow: 4px 4px 12px #aaa;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.contettext {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    max-width: 500px;
    justify-content: center;
}

.contettext h1, h2, p {
    color: white;
    margin-bottom: 30px;
}

.contettext p{
    font-size: 18px;
}

.contettext h2 {
    margin-top: 70px;        
}

.conteiner {
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap-reverse;
    
}


.content1 {
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.content1 a:hover {
    transition: 0.3s;
    padding: 15px;
    background-color: #1E3A8A;
}

.content1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #3E3E3E;
    padding-bottom: 40px;
 
}

.content1 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3E3E3E;
    font-size: 28px;
}

.content1 a {
    color: white;
    background-color: #63A5FF;
    padding: 10px;
    border-radius: 12px;
}

.content2 {
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 img {
    width: 70%;;
}
.about {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.sobre_projeto {
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,42,121,1) 9%, rgba(0,149,255,1) 100%);
    border-radius: 22px;
    max-width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.sobre_projetocont {
    width: 80%;
}

.sobre_projetocont h1 {
    font-size: 40px;
    color: white;
    padding-top: 17px;
    padding-bottom: 10px;
}
.sobre_projetocont p {
    font-size: 19px;
}

.integrantes {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.integrantes h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3E3E3E;
    font-size: 45px;    
}
.container_cards {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
    
}
.cartao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 385px;
    width: 300px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid rgba(230,230,230,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-align: center;
    
}

.cartao h1 {
    margin-top: 12px;
    font-size: 20px;
    color: #3E3E3E;
}


.cartao p {
    margin-top: 12px;
    font-size: 16px;
    color:#3E3E3E;
    line-height: 26px;
}

.imagem_card {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.imagem_card img {
    height: 50px;
    border-radius: 24px;
}
.cartao a {
    margin-top: 12px;
    color: #3B82F6;
}
.tags {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    gap: 20px;
    
}

.tags p{
    font-size:  12px ;
    background-color: #DBEAFE;
    color: #3B82F6;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 20px;
    
}

.contatus {
    display: flex;
    
}

.contatus img {
    height: 28px;
    padding-left: 20px;
}

@media (max-width:800px){
    /* Responsividade do Menu */
    .menu{
        display: block;
        z-index: 1;
    }

    .conteiner {
        padding: 19px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #1E3A8A;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    /*Transição menu */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    
    /* Apresentação do site */
    .apresentacao {
        flex-direction: column;
    }
    
    .apresentacao img {
    
        max-width: 80%;
    }

    /* Responsividade Apresentação */
    .bem_vindo{
        width: 80%;
    }
    
    /* Resposividade Nosso projeto */
    .nosso_projeto {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .imaxem_ex {
        
        width:80%;
        
    }
    
    .nosso_content {
        width: 80%;
        
    }
    
    .tecnologia {
        width: 80%;
        height: 350px;

    }

    .inovacao {
        width: 80%;
        height: 350px;

    }

    .oportunidades{
        width: 80%;
        height: 350px;

    }

    #imagemEspecial {
        display: none;
    }
    
}



